@import fonts

$white: #FEFEFE
$black: #555960

body 
  font-family: Avenir-Heavy
  margin: 0
  font-family: sans-serif
  -webkit-backface-visibility: hidden
  background-color: #575757
  // background: url('/images/blurryme.png')
  // background-size: cover
  // background-position: center center

.name 
  color: #FEFEFE
  text-align: center

.bubble
  // background-image: url('/images/alonso.jpg')
  // background-size: cover
  // background-attachment: center center
  text-align: center
  box-sizing: border-box
  p 
    height: 100%
    text-align: center
    color: white

  .icon 
    width: 13px
    padding-top: 17px

  &:hover
    cursor: pointer
    // background-color: rgba(254,254,254,0.15)

.full-screen 
  position: fixed
  bottom: 0
  top: 0
  left: 0
  right: 0

.clipped
  overflow: hidden

.projectName, .projectDescription
  text-align: center
  color: $white

.projectName
  margin-top: 0px
  font-family: Avenir-Heavy

.projectDescription
  margin-top: 22px
  font-family: Avenir-Book
  font-size: 11pt

.project
  // -webkit-filter: blur(8px)
  text-align: center
  padding-left: 20px
  padding-right: 20px
  padding-top: 55px
  padding-bottom: 100px
  max-width: 600px
  margin-left: auto
  margin-right: auto
  color: $black
  font-family: Avenir-Light
  
  .title

    padding-top: 75px
    padding-bottom: 50px
    // text-align: center

  .image
    padding-bottom: 43px
    width: 100%

  .description
    text-align: justify
    // max-width: 400px
    margin-left: auto
    margin-right: auto

  .links
    margin-top: 50px

    .link
      margin-top: 20px
      display: block
      border: 1px solid $black
      $pad: 18px
      padding-top: $pad 
      padding-bottom: $pad

      color: $black
      text-decoration: none

  .videoWrapper
    position: relative
    padding-bottom: 56.25%
    height: 0
    background-color: #F6F6F6

    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

  .clickCatcher
    &:hover
      cursor: pointer