<img class="media profilePhoto" ng-src="images/alonso.png" data-2x="images/alonso@2x.png">

<p class="description">Hiya! My name is Alonso Holmes. You can call me Alonso. Not Alfonso, Almondo, or Alondo. Alonso. Say it with me. Uh-lawn-so.

<br><br>

I like solving problems by building things, which I suppose makes me an engineer. But these are very thoughtfully designed solutions, so that makes me a designer. And sometimes I write code, which would make me a developer.

<br><br>

I have a bachelors degree in aeronautical engineering. This education was dangerous, because it taught me that anything can be learned. I still love everything that flies, and I think it’s our destiny to become a multiplanetary civilization. I want to get a doctorate in something, but I haven’t decided what. Particle physics might be fun.

<br><br>

I prefer decentralized systems with flat hierarchies, but sometimes they aren’t the best way to get things done. I think advertising is a shitty revenue model for the internet, and I’d like to prove that a better one exists. I’m allergic to bureaucracy, but I value the role of the military-academia-industrial triangle in putting a man on the moon and inventing the (first) internet.

<br><br>

I think that Norman Foster, Ellsworth Kelley, John Singer Sargent, Thom Yorke, Earnest Hemingway, Douglas Engelbart, Hunter Thompson, Jack Kerouac, and Siddhartha Gautama have done great work.

<br><br>

The background image for this site is a shot of the Apollo 13 astronauts building a scrubber to remove excess C02 from the spacecraft, so that they can stay alive until they get back to Earth. This is a hack of legendary status from a time when we felt like we could do anything. I like that mindset. Build epic shit. No more laundry startups.

<br><br><br>



</p>

<p>give me a shout:</p>
<p>@alonsoholmes on <a href="http://twitter.com/alonsoholmes" target="_blank">twitter</a> and <a href="http://medium.com/@alonsoholmes" target="_blank">medium</a>.</p>
<p>plz no spam to <a href="mailto:yo@alonso.io">yo@alonso.io</a></p>
