<img class="media profilePhoto" ng-src="images/alonso.png" data-2x="images/alonso@2x.png">

<p class="description">Hiya! My name is Alonso Holmes. Uh-lawn-so.

<br><br>

I like solving problems by building things, which I suppose makes me an engineer. But these are very thoughtfully designed solutions, so that makes me a designer. And sometimes I write code, which would make me a developer. 

<br><br>

Most of the things I build these days live on the web - I'm a frontend and backend web developer and designer. I love playing with hardware, and finding ways to hook amazing web interactions up to physical devices. I'll never long-poll a server again.

<br><br>

I'm still incredibly interested in democratizing access to space, and one of my goals is to find a way to apply the extremely rapid software development process I've learned in startups to the design, integration, and launch of space vehicles.


<!-- I have a bachelors degree in aeronautical engineering. This education was dangerous, because it taught me that anything can be learned. I still love everything that flies, and I think it’s our destiny to become a multiplanetary civilization. I want to get a doctorate in something, but I haven’t decided what. Particle physics might be fun. 


I prefer decentralized systems with flat hierarchies, but sometimes they aren’t the best way to get things done. I think advertising is a shitty revenue model for the internet, and I’d like to prove that a better one exists. I’m allergic to bureaucracy, but I value the role of the military-academia-industrial triangle in putting a man on the moon and inventing the (first) internet.  -->

<!-- <br><br> -->

<!-- I admire Norman Foster, Ellsworth Kelley, John Singer Sargent, Thom Yorke, Earnest Hemingway, Douglas Engelbart, Hunter Thompson, Jack Kerouac, and Siddhartha Gautama.  -->

<br><br>


The background image for this site is a shot of the Apollo 13 astronauts building a scrubber to remove excess C02 from the spacecraft, so that they can stay alive until they get back to Earth. This is a hack of legendary status from a time when we felt like we could do anything. I like that mindset. Let's build epic shit.

<br><br>

This page was built in famo.us, which has the potential to change the way we build interfaces on the web by providing a physics-based rendering engine that sits at a safe distance from the DOM. Here's a <a href="https://medium.com/@alonsoholmes/new-digs-972d8cae7fdd" target="_blank">blog post on how this page was built</a>.

<br><br>

Also, I consult as a web developer and designer. I mostly build things with angular/node/coffeescript/sass, and I'm interested in working more with famo.us on nontrivial webapps. If you've got an interesting project in the works, hit that big "hire me" button, or drop an email to <a href="mailto:hire@alonso.io" target="_blank">hire@alonso.io</a>.

<br><br><br>



</p>

<!-- <p>i keep my <a href="http://github.com/holmesal" target="_blank">code on github</a>.</p>
<p>i tweet from <a href="http://twitter.com/alonsoholmes" target="_blank">@alonsoholmes</a>.</p>
<p>i sometimes <a href="http://medium.com/@alonsoholmes" target="_blank">write things on medium</a>.</p> -->

<div class="links">
  <a class="link" href="http://github.com/holmesal" target="_blank">code on github</a>
  <a class="link" href="http://twitter.com/alonsoholmes" target="_blank">tweets on twitter</a>
  <a class="link" href="http://medium.com/@alonsoholmes" target="_blank">writing on medium</a>
  <a class="link" href="mailto:hire@alonso.io" target="_blank">hire me</a>
</div>

<br><br>
<p>say hello: <a href="mailto:yo@alonso.io">yo@alonso.io</a></p>
