<img class="media stretch" ng-src="images/imac.png">

<p class="description">

This is an example paragraph, just to see how this text wraps when the sentences are really quite long. It's hard to get a feel for the wrapping when the text is just hipster ipsum, too, so this definitely helps quite a bit.<br><br>

Blue Bottle try-hard Marfa, viral deep v Banksy kogi. Meh vegan chia whatever banh mi. Salvia sriracha fashion axe aesthetic irony fap. Lo-fi Tumblr tattooed lumbersexual street art Neutra sustainable. Authentic blog put a bird on it hoodie mustache selvage, Wes Anderson hashtag gastropub 90's Thundercats keytar mumblecore plaid sartorial. Lomo tofu craft beer keytar tilde tousled PBR, quinoa distillery mixtape Helvetica shabby chic keffiyeh Williamsburg actually. Ugh flannel Neutra Shoreditch pickled authentic.
<br><br>

Godard dreamcatcher listicle swag, meditation keffiyeh kitsch tattooed. 90's Bushwick migas, Williamsburg Thundercats Intelligentsia Godard dreamcatcher tousled stumptown vinyl. Typewriter wolf scenester, bicycle rights jean shorts meditation Intelligentsia Godard paleo. Farm-to-table before they sold out chillwave seitan, single-origin coffee 90's selvage tousled street art authentic flexitarian Brooklyn jean shorts gastropub vegan. Williamsburg literally you probably haven't heard of them lomo twee. Ennui chia cronut, salvia cardigan banjo actually. Tilde Tumblr gentrify, vinyl iPhone meh kitsch squid raw denim artisan sriracha mustache.<br><br>

Schlitz viral iPhone messenger bag. Banjo tofu Intelligentsia pork belly. Kogi keytar forage selfies pug organic. Keffiyeh Tonx kale chips wolf Etsy Helvetica. Fashion axe swag fixie Williamsburg. Gluten-free tousled stumptown, sustainable pop-up Neutra Austin High Life Echo Park craft beer twee. Banh mi asymmetrical actually viral, blog messenger bag cornhole 90's bicycle rights sustainable tilde you probably haven't heard of them iPhone Echo Park lo-fi.<br><br>

Plaid Helvetica flexitarian viral lumbersexual, umami synth swag Austin XOXO meggings. Chambray seitan actually sustainable ennui. Pickled chambray DIY VHS occupy crucifix cardigan. Marfa pop-up retro four dollar toast keffiyeh. Godard heirloom pork belly, retro cronut farm-to-table forage VHS freegan. Kitsch crucifix normcore PBR, mustache lomo authentic Kickstarter master cleanse messenger bag put a bird on it bitters bespoke. Echo Park XOXO church-key hella.

</p>

<div class="links">
  <a class="link" target="_blank" href="http://joinhashtag.com">Visit the hashtag website</a>
</div>