<div class="videoWrapper media">
  <iframe ng-if="showVideo" src="//player.vimeo.com/video/37163018" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<p class="description">

H.E.R.O. (the Humanitarian Emergency Response Operative) is a rugged drone designed to ferry large amounts of humanitarian supplies between improvised landing strips and nearby airports. H.E.R.O. is designed to be deployed quickly and in large numbers in the event of a natural disaster.

<br><br>

Because of it's unique folding wing and tail geometry, H.E.R.O. can be transported in the cargo bay of a standard C-130J military transport aircraft. Once it arrives at an airport or military base near the disaster area, H.E.R.O. can be loaded with up to 1800 pounds of humanitarian cargo by a single operator. It can then ferry this cargo anywhere within a 500 nautical mile range, and can land on rough/unpaved surfaces like soccer fields or dirt roads. H.E.R.O. is able to unload itself autonomously and return to pick up more supplies, all without an operator in the loop.

<br><br>

This was my capstone project as an undergraduate aerospace engineering student at Boston University. I led a team of 6, and as the design lead I worked between the various subsystems (propulsion, structures, aerodynamics, control systems, and autonomous mechanisms) to keep the overall aircraft design on-track while putting out fires on a subsystem-level and staying withing weight and power budgets.

<br><br>

Everything about a STOL (Short TakeOff and Landing) aircraft is large - large wings to provide ample lift at low speeds, large control surfaces (and a long tail moment arm) to pitch for takeoff at low speeds, and a large engine/propeller combination to accelerate quickly. At the same time, we were working against a competing geometric constraint that demanded our aircraft be as compact as possible - we needed to fit in the cargo bay of a larger aircraft. Finding the limits of these two diametrically opposed design constraints was what made this project hugely interesting and rewarding.

</p>

<div class="links">
  <a class="link" target="_blank" href="https://www.dropbox.com/s/z98d9964hbu36g5/hero.pdf?dl=0">View the design report</a>
  <a class="link" target="_blank" href="https://vimeo.com/37163018">Watch the presentation</a>
</div>