

<p class="description" style="margin-bottom: 50px;">

I'm always working on too many projects at once. Here are a few I've completed recently, and a few I'm working on right now.

</p>

<h1>Audience</h1>
<p class="description">
I listen to a ton of podcasts, and I find myself discussing them frequently with friends. Audience is an experiment in social podcast listening - it's a podcast player that gives you the ability to have a conversation right on top of the podcast itself. You can like, share, and comment on specific moments *inside* a podcast.
<br><br>
This is also my first large project in react-native. So far, it's an incredible framework that I feel really has the potential to bring the speed of web development to mobile platforms. Flux (specifically redux) is an amazingly simple architecture that makes complex applications really easy to reason about. React is similarly elegant for the view layer. Using both of these technologies at the same time to build truly native applications is simply delightful.
<br><br>
While working on Audience, I've also gotten plenty of practice diving down to the Obj-C + Swift level and writing react-native wrappers for iOS components - streaming audio, disk persistence, that sort of thing.
</p>
<div class="links">
	<a class="link" href="http://podcast.firebaseapp.com" target="_blank">podcast.firebaseapp.com</a>
</div>



<h1 class="projectTitle">Hashtag</h1>
<img class="media stretch" ng-src="images/imac.png">
<p class="description">
Hashtag was an experiment in global, public chat. We were using slack a lot at the time, and we were bothered by how difficult it was to bring clients and friends into our Slack instance. We felt like the experience of using Slack was excellent, but it was really built more for enclosed teams than for distributed groups.
<br><br>
We killed the project eventually. My personal post-mortem is that the "everything for everyone" nature of a concept as large as Hashtag paralyzed us when it came to actually bringing the idea to market. <a href="http://discordapp.com" target="_blank">Discord</a> (targeted gamers with an alternative to TeamSpeak servers, then expanded to open-source orgs) or <a href="http://gitter.im" target="_blank">Gitter</a> (targeted open-source orgs from the get-go) are good examples of how this idea could have been better brought to market by focusing initially on a small group with a tangible problem, then slowly starting to bring in other use-cases.
<br><br>
We did gain a ton of valuable experience in working as a distributed team, and building applications that run on the desktop. Also, chat apps are really, really fun to build.
</p>
<div class="links">
	<a class="link" href="http://joinhashtag.com" target="_blank">joinhashtag.com</a>
</div>


<h1 class="projectTitle">Shortwave</h1>
<img class="media stretch" ng-src="images/shortwave.png">
<p class="description">
Called a "real-world early-adopter hunt" (<a href="https://www.producthunt.com/tech/shortwave-2" target="_blank">Product Hunt</a>) and a "consumer use-case for iBeacons" (<a href="http://techcrunch.com/2014/05/12/shortwave-shows-off-anonymous-chat-as-another-consumer-use-case-for-ibeacons/" target="_blank">TechCrunch</a>), Shortwave is a chat room with a 150-foot radius. It's a social network without a friends list, where your "network" is defined solely by your location.
<br><br>
Under the hood, a Bluetooth Low Energy signaling protocol we lovingly call WTFBeacon powers the core of Shortwave. It's an elegant set of workarounds for limitations that Apple has imposed on background use of CoreBluetooth and CoreLocation. It's a little complex - I wrote a blog post describing in detail how it works, and I still get emails along the lines of "can you please implement this for me?"
<br><br>
Shortwave was a fun experiment. We had good traction after launching it, and considered raising a small round to support continued growth. Ultimately, it was more interesting to us as a side project than a business, but we still keep the servers running. If you ever come across a blue christmas tree, say hello!
</p>
<div class="links">
	<a class="link" href="http://getshortwave.com" target="_blank">getshortwave.com</a>
</div>



