<p class="description">

Shortwave is a tiny little chat room for you and everyone within 100 feet. The mode we usually use our phones in pulls us out of our surroundings and onto the web - instead of talking to the people next to us in line for coffee, we check twitter. We wanted to build something that hacked that urge to pull out your phone, and got you to do something instead that could end in a real, human conversation.

<br><br>

Also, it’s anonymous, which was what most of the press focused on. To us, this was an obvious choice that mirrored the amount you know about the people around you - icon/color equals face/shirt. Speculation abounded that Shortwave would be rife with bullies and creepers. In reality, people were charmingly civil, if a little nervous and awkward. Niv summed this up best in the Product Hunt comments - “Shortwave is a real-world early adopter scavenger hunt”.

<br><br>

Powering Shortwave is something called wtfBeacon, which is a library that combines iBeacons, CoreBluetooth, and websockets in a way that I feel alternatively proud and deeply ashamed of. Proud because it works, despite several reasons it shouldn’t. Ashamed because it really is hacks on hacks on hacks.
<br><br>

</p>

<div class="links">
  <a class="link" target="_blank" href="http://techcrunch.com/2014/05/12/shortwave-shows-off-anonymous-chat-as-another-consumer-use-case-for-ibeacons/">Read the TechCrunch article</a>
  <a class="link" target="_blank" href="https://medium.com/@alonsoholmes/wtfbeacon-how-shortwave-works-e926813091af">Read how wtfBeacon works</a>
  <a class="link" target="_blank" href="https://itunes.apple.com/us/app/shortwave-messaging/id864480884?mt=8">Download Shortwave for iOS</a>
</div>