<fa-view class="project" fa-pipe-to="scrollEventHandler" fa-size="[true,{{dims.h - bottomCardPadding}}]">
<!-- <fa-surface fa-background-color="'#FEFEFE'"></fa-surface> -->
<fa-modifier fa-opacity="imageFader.get()" fa-origin="[0.5,0.5]" fa-align="[0.5,0.5]">
  <fa-image-surface class="backgroundImageSurface" fa-image-url="/images/blurryme.png" fa-size="[undefined,true]" fa-pipe-to="scrollEventHandler"></fa-image-surface>
</fa-modifier>

<!-- Container -->
<fa-modifier>
  <fa-modifier fa-size="[{{dims.w}},{{dims.h}}]">
    <!-- Modifier to move origin to center -->
    <fa-modifier fa-perspective="1000">
      <!-- Rotate -->
      <fa-modifier fa-rotate-z="spinner.get()"  fa-translate="[0,0,1000]">
        <fa-modifier ng-repeat="circle in circles" fa-opacity="circle.fader.get()" fa-size="circle.size" fa-origin="[0.5,0.5]" fa-translate="circle">
          <fa-modifier fa-origin="[0.5,0.5]" fa-align="[0.5,0.5]" fa-scale="circle.iconScaler.get()" fa-opacity="circle.iconFader.get()">
            <fa-image-surface fa-image-url="{{projects[$index].icon}}" fa-size="{{projects[$index].size}}" ></fa-image-surface>
          </fa-modifier>
          <fa-surface 
            fa-animate-leave="handleExit(circle, $done)" 
            fa-click="circleClicked(circle, $index)" 
            fa-touchstart="circleClicked(circle, $index)" 
            fa-mouseover="bumpCircle(circle)" 
            fa-pipe-to="scrollEventHandler">
            <div class="bubble" ng-style="{
              border: '1px solid ' + stroke,
              zbackgroundColor: colorMap[circle._id],
              borderRadius: circle.radius*2 + 'px',
              width: circle.radius*2 + 'px',
              height: circle.radius*2 + 'px'}">
            </div>
          </fa-surface>
        </fa-modifier>

        <!-- surface to catch clicks -->
        <fa-modifier fa-translate="[{{cornerPosition[0]}},{{cornerPosition[1]}}, 9999]" fa-origin="[0.5,0.5]">
          <fa-surface 
            class="clickCatcher"
            fa-background-color="'zrgba(0,0,0,0.1)'" 
            fa-align="[0.5,0.5]" 
            fa-size="[100,100]"
            fa-click="reset()"
            fa-touchstart="reset()"
          ></fa-surface>
        </fa-modifier>
      </fa-modifier>

      <!-- Center prompt text -->
      <fa-modifier fa-origin="[0.5,0.5]" fa-align="[0.5,0.5]" ng-if="false">
        <fa-surface fa-size="[true,true]">
          <p class="name">any project</p>
        </fa-surface>
      </fa-modifier>

      <!-- project name -->
      <fa-modifier 
        fa-translate="projectName" 
        fa-origin="[0.5,0.5]" 
        ng-if="selected"
        fa-opacity="nameOpacity.get()"
        fa-animate-enter="nameAnimation.enter($done)"
        fa-animate-leave="nameAnimation.leave($done)"
        fa-animate-halt="nameAnimation.halt($done)">
        <fa-surface fa-size="[undefined,true]">
          <p class="projectName">{{project.name}}</p>
          <p class="projectDescription">{{project.description}}</p>
        </fa-surface>
      </fa-modifier>

      <!-- project Description -->
<!--       <fa-modifier fa-translate="projectDescription" fa-origin="[0.5,0.5]">
        <fa-surface fa-size="[undefined,true]">
        </fa-surface>
      </fa-modifier> -->
      
      
    </fa-modifier>
    <!-- Surface to catch background clicks -->
    <fa-surface fa-background-color="'#333333'"  fa-click="zoomIn()" fa-pipe-to="scrollEventHandler"></fa-surface>
  </fa-modifier>

</fa-modifier>

</fa-view>

<!-- Scroll view to scroll cards up -->
<fa-modifier fa-translate="[0,0,2000]">
<fa-scroll-view class="outerScrollView" fa-pipe-from="scrollEventHandler" fa-size="[true,undefined]" fa-options="scrollOptions">

<!-- Fake view to pad the bottom view -->
<fa-view class="project" fa-pipe-to="scrollEventHandler" fa-size="[true,{{dims.h - bottomCardPadding}}]"></fa-view>


<fa-view 
  fa-size="[true,true]" 
  ng-if="selected" 
  fa-animate-enter="animateCardEnter($done)"
  fa-animate-leave="animateCardLeave($done)"
  fa-animate-halt="animateCardHalt()">

  <fa-modifier fa-translate="cardTranslation.get()">
    <!-- <fa-sequential-layout> -->
      <fa-surface fa-background-color="'#FEFEFE'" fa-pipe-to="scrollEventHandler" fa-size="[undefined,true]">
        <div class="project" ng-include="project.template"></div>

      </fa-surface>
    <!-- </fa-sequential-layout> -->

</fa-modifier>
</fa-view>

</fa-scroll-view>
</fa-modifier>

