<fa-surface fa-background-color="'#FEFEFE'"></fa-surface>
<!-- Container -->
<fa-modifier fa-scale="scaler.get()">
  <fa-modifier fa-size="[{{dims.w}},{{dims.h}}]" fa-origin="[1,0]" fa-align="[1,0]">
    <fa-modifier fa-origin="[0.5,0.5]" fa-align="[0.5,0.5]">
      <fa-modifier ng-repeat="circle in circles" fa-opacity="circle.opacity.get()" fa-size="[{{circleSize}}, {{circleSize}}]" fa-translate="circle">
        <fa-surface fa-animate-leave="handleExit(circle, $done)" fa-click="circleClicked()">
          <div ng-style="{
            border: '2px solid '+colorMap[circle._id],
            backgroundColor: colorMap[circle._id],
            borderRadius: circleSize + 'px',
            width: circleSize + 'px',
            height: circleSize + 'px'}"></div>
        </fa-surface>
      </fa-modifier>
    </fa-modifier>
    <!-- Surface to catch background clicks -->
    <fa-surface fa-background-color="'d#333333'"  fa-click="zoomIn()"></fa-surface>
  </fa-modifier>
</fa-modifier>
<fa-scroll-view fa-pipe-from="scrollEventHandler">
<fa-view fa-size="[true,true]">
<fa-surface fa-pipe-to="scrollEventHandler" fa-size="[true,true]">
  <h1>hi there!</h1>
  <h1>hi there!</h1>
  <h1>hi there!</h1>
  <h1>hi there!</h1>
  <h1>hi there!</h1>
  <h1>hi there!</h1>
  <h1>hi there!</h1>
  <h1>hi there!</h1>
  <h1>hi there!</h1>
  <h1>hi there!</h1>
</fa-surface>

</fa-view>
</fa-scroll-view>

