<fa-scroll-view fa-pipe-from="scrollEventHandler">

<fa-view class="project" fa-pipe-to="scrollEventHandler" fa-size="[true,{{dims.h - 200}}]">
<!-- <fa-surface fa-background-color="'#FEFEFE'"></fa-surface> -->
<fa-modifier fa-opacity="imageFader.get()" fa-origin="[0.5,0.5]" fa-align="[0.5,0.5]" >
  <fa-image-surface fa-image-url="/images/blurryme.png" fa-size="[undefined,true]" fa-pipe-to="scrollEventHandler"></fa-image-surface>
</fa-modifier>

<!-- Container -->
<fa-modifier fa-scale="scaler.get()" fa-translate="[0,0,1000]">
  <fa-modifier fa-size="[{{dims.w}},{{dims.h}}]">
    <!-- Modifier to move origin to center -->
    <fa-modifier fa-perspective="1000">
      <!-- Rotate -->
      <fa-modifier fa-rotate-z="spinner.get()">
        <fa-modifier ng-repeat="circle in circles" fa-opacity="circle.opacity.get()" fa-size="circle.size" fa-origin="[0.5,0.5]" fa-translate="circle">
          <fa-surface fa-animate-leave="handleExit(circle, $done)" fa-click="circleClicked(circle, $index)">
            <div class="bubble" ng-style="{
              border: '1px solid ' + stroke,
              zbackgroundColor: colorMap[circle._id],
              borderRadius: circle.radius*2 + 'px',
              width: circle.radius*2 + 'px',
              height: circle.radius*2 + 'px'}"><p>{{$index}}</p></div>
          </fa-surface>
        </fa-modifier>

        <!-- surface to catch clicks -->
        <fa-modifier fa-translate="[{{cornerPosition[0]}},{{cornerPosition[1]}}, 9999]" fa-origin="[0.5,0.5]">
          <fa-surface 
            fa-background-color="'zrgba(0,0,0,0.1)'" 
            fa-align="[0.5,0.5]" 
            fa-size="[100,100]"
            fa-click="reset()"
          ></fa-surface>
        </fa-modifier>
      </fa-modifier>

      <!-- Center prompt text -->
      <fa-modifier fa-origin="[0.5,0.5]" fa-align="[0.5,0.5]" ng-if="false">
        <fa-surface fa-size="[true,true]">
          <p class="name">any project</p>
        </fa-surface>
      </fa-modifier>

      <!-- project name -->
      <fa-modifier fa-translate="projectName" fa-origin="[0.5,0.5]" ng-if="false">
        <fa-surface fa-size="[undefined,true]">
          <p class="projectName">Hashtag</p>
          <p class="projectDescription">Awesome group chat for all of the things.</p>
        </fa-surface>
      </fa-modifier>

      <!-- project Description -->
<!--       <fa-modifier fa-translate="projectDescription" fa-origin="[0.5,0.5]">
        <fa-surface fa-size="[undefined,true]">
        </fa-surface>
      </fa-modifier> -->
      
      
    </fa-modifier>
    <!-- Surface to catch background clicks -->
    <fa-surface fa-background-color="'z#333333'"  fa-click="zoomIn()" fa-pipe-to="scrollEventHandler"></fa-surface>
  </fa-modifier>

</fa-modifier>

</fa-view>



<fa-view fa-size="[true,true]" ng-if="false">
  <fa-modifier fa-translate="cardTranslation.get()">

    <fa-surface fa-background-color="'#FEFEFE'" fa-pipe-to="scrollEventHandler" fa-size="[undefined,true]">
      <div class="project">
        <p class="title">Shortwave</p>
        <img src="images/yeoman.png">

      <p class="description">Blue Bottle try-hard Marfa, viral deep v Banksy kogi. Meh vegan chia whatever banh mi. Salvia sriracha fashion axe aesthetic irony fap. Lo-fi Tumblr tattooed lumbersexual street art Neutra sustainable. Authentic blog put a bird on it hoodie mustache selvage, Wes Anderson hashtag gastropub 90's Thundercats keytar mumblecore plaid sartorial. Lomo tofu craft beer keytar tilde tousled PBR, quinoa distillery mixtape Helvetica shabby chic keffiyeh Williamsburg actually. Ugh flannel Neutra Shoreditch pickled authentic.
        <br><br>

    Godard dreamcatcher listicle swag, meditation keffiyeh kitsch tattooed. 90's Bushwick migas, Williamsburg Thundercats Intelligentsia Godard dreamcatcher tousled stumptown vinyl. Typewriter wolf scenester, bicycle rights jean shorts meditation Intelligentsia Godard paleo. Farm-to-table before they sold out chillwave seitan, single-origin coffee 90's selvage tousled street art authentic flexitarian Brooklyn jean shorts gastropub vegan. Williamsburg literally you probably haven't heard of them lomo twee. Ennui chia cronut, salvia cardigan banjo actually. Tilde Tumblr gentrify, vinyl iPhone meh kitsch squid raw denim artisan sriracha mustache.<br><br>

    Schlitz viral iPhone messenger bag. Banjo tofu Intelligentsia pork belly. Kogi keytar forage selfies pug organic. Keffiyeh Tonx kale chips wolf Etsy Helvetica. Fashion axe swag fixie Williamsburg. Gluten-free tousled stumptown, sustainable pop-up Neutra Austin High Life Echo Park craft beer twee. Banh mi asymmetrical actually viral, blog messenger bag cornhole 90's bicycle rights sustainable tilde you probably haven't heard of them iPhone Echo Park lo-fi.<br><br>

    Plaid Helvetica flexitarian viral lumbersexual, umami synth swag Austin XOXO meggings. Chambray seitan actually sustainable ennui. Pickled chambray DIY VHS occupy crucifix cardigan. Marfa pop-up retro four dollar toast keffiyeh. Godard heirloom pork belly, retro cronut farm-to-table forage VHS freegan. Kitsch crucifix normcore PBR, mustache lomo authentic Kickstarter master cleanse messenger bag put a bird on it bitters bespoke. Echo Park XOXO church-key hella.</p>
    </div>

    </fa-surface>

  </fa-modifier>
</fa-view>

</fa-scroll-view>

