<fa-view>
  <fa-surface 
    fa-properties="props.content" 
    fa-pipe-to="page.contentHandler"
    fa-size="[undefined,true]">

    <p>{{page.title}}</p>

    <p>I'm a web developer, designer, mobile developer, aerospace engineer, and  musician. More or less in that order.

I believe in building things that have a positive impact on humankind. I believe that grand visions can be misguided in the early days of a project. I believe in travel. I velieve in figuring iit out. Most of all, I believe in exploration, experimentation, and learning by hacking.

This is a list of things I’ve done. Enjoy.</p>

<!-- <h1>wat again!</h1> -->
  </fa-surface>
</fa-view>

<!-- <fa-view>
  <fa-surface 
    fa-properties="props.content" 
    fa-pipe-to="page.contentHandler"
    fa-size="[undefined,true]">
    <h1>wat again!</h1>
  </fa-surface>
</fa-view>

<fa-view>
  <fa-surface 
    fa-properties="props.content" 
    fa-pipe-to="page.contentHandler"
    fa-size="[undefined,true]">
    <h1>OMG IT WORKS</h1>
  </fa-surface>
</fa-view> -->
